.DS_Store
obj
packages
.vs
*.nupkg
*.user
.build
wrappers/swift/bindings/*
wrappers/swift/output/*
wrappers/csharp/nuget/dotnet/package/*
wrappers/csharp/nuget/Android/Devolutions.Crypto.Android/package/*
wrappers/csharp/nuget/iOS/Devolutions.Crypto.iOS/package/*
wrappers/csharp/nuget/macOS/Devolutions.Crypto.Mac/package/*
wrappers/csharp/windows/
wrappers/csharp/ios/
wrappers/csharp/android/
wrappers/csharp/linux/
wrappers/csharp/macos-full/
wrappers/csharp/macos/
wrappers/csharp/dotnet-core/
wrappers/csharp/tests/unit-tests/manual/dotnet-framework/bin/
wrappers/csharp/tests/unit-tests/manual/dotnet-core/bin/
target/
**/*.rs.bk
.vscode
bin
obj
.angular
node_modules
__pycache__
config.txt
.github/hooks
TestResults
devolutions_crypto.kt
