name: Build macos natives for kotlin
description: Builds macOS native libraries for Kotlin wrapper
runs:
  using: composite
  steps:
    - name: Download Version File
      uses: actions/download-artifact@v4
      with:
        name: config.txt

    - name:  Install Rust
      shell: bash
      run: |
        set -e
        curl https://sh.rustup.rs -sSf | sh -s -- -y --default-toolchain stable
        echo "$HOME/.cargo/bin" >> $GITHUB_PATH
        echo "MACOSX_DEPLOYMENT_TARGET=10.15" >> $GITHUB_ENV
        source $HOME/.cargo/env

        rustup target add x86_64-apple-darwin
        rustup target add aarch64-apple-darwin

    - name: Build
      shell: bash
      working-directory: ./wrappers/kotlin
      run: make macos

    - name: Test
      shell: bash
      working-directory: ./wrappers/kotlin
      run: |
        chmod +x gradlew
        ./gradlew test
        ./gradlew build
        ./gradlew generatePomFileForMavenPublication

    - name: Upload Kotlin package
      uses: actions/upload-artifact@v4.3.6
      with:
        name: kotlin-macos
        path: ./wrappers/kotlin/lib/src/main/resources/
