[package]
name = "devolutions-crypto-uniffi"
edition = "2021"
version.workspace = true

[lib]
crate-type = ["cdylib", "staticlib"]

[dependencies]
devolutions-crypto = { path = "../../", features = ["uniffi-support"] }
uniffi = { workspace = true }
rust-argon2 = { workspace = true }
