Top menu on small screens
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" (click)="w3Open()">☰</a>
  <span>Devolutions crypto</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" (click)="w3Close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px;padding-top: 30px;">

  <div  style="margin-top:40px;text-align: center;">
    <b><fa-icon class="fa-3x" [icon]="faSyncAlt"></fa-icon></b>
    <h1>Asymmetric</h1>
  </div>

  <div class="container" style="margin-top:40px; border: 2px groove;border-radius: 10px;border-color: lightgray;">
    <h2 style="background-color: #f44336; color: white; margin-top: 10px;text-align: center;height: 40px;padding-top: 5px;">Argon2 Parameters</h2>
    <form [formGroup]="argon2Form" (ngSubmit)="createArgon2()">
      <div class="form-group">
        <label for="argon2Iterations">Iterations</label>
        <input type="text" class="form-control" formControlName="argon2Iterations" required>
      </div>

      <div class="form-group">
        <label for="argon2Lanes">Lanes</label>
        <input type="text" class="form-control" formControlName="argon2Lanes" required>
      </div>

      <div class="form-group">
        <label for="argon2Length">Length</label>
        <input type="text" class="form-control" formControlName="argon2Length" required>
      </div>

      <div class="form-group">
        <label for="argon2Memory">Memory</label>
        <input type="text" class="form-control" formControlName="argon2Memory" required>
      </div>

      <button type="submit" class="btn btn-success">Generate Argon2 Parameters</button>

      <div class="form-group" style="margin-top:20px;margin-bottom: 20px;">
        <label for="argon2Result"><h4>Result</h4></label>
        <textarea rows="5" type="text" class="form-control" formControlName="argon2Result"></textarea>
      </div>

    </form>
  </div>

  <div class="container" style="margin-top:40px; border: 2px groove;border-radius: 10px;border-color: lightgray;">
    <h2 style="background-color: #f44336; color: white; margin-top: 10px;text-align: center;height: 40px;padding-top: 5px;">Derive Key Pair</h2>
    <form [formGroup]="deriveKeyPairForm" (ngSubmit)="deriveKeyPair()">
      <div class="form-group">
        <label for="deriveKeyPairPassword">Password</label>
        <input type="text" class="form-control" formControlName="deriveKeyPairPassword" required>
      </div>

      <div class="form-group">
        <label for="deriveKeyPairArgon2">Argon2 Parameters</label>
        <input type="text" class="form-control" formControlName="deriveKeyPairArgon2" required>
      </div>

      <button type="submit" class="btn btn-success">Derive</button>

      <div class="form-group" style="margin-top:20px;margin-bottom: 20px;">
        <label for="deriveKeyPairResult"><h4>Result</h4></label>
        <textarea rows="5" type="text" class="form-control" formControlName="deriveKeyPairResult"></textarea>
      </div>

    </form>
  </div>

  <div class="container" style="margin-top:40px; border: 2px groove;border-radius: 10px;border-color: lightgray;">
    <h2 style="background-color: #f44336; color: white; margin-top: 10px;text-align: center;height: 40px;padding-top: 5px;">Key Generation</h2>
    <form [formGroup]="keypairGenerationForm" (ngSubmit)="generateKeypair()">

      <div style="margin-top: 20px;">
        <button type="submit" class="btn btn-success">Generate key pair</button>
      </div>

      <div class="form-group" style="margin-top:20px;margin-bottom: 20px;">
        <label for="generationResult"><h4>Result</h4></label>
        <textarea rows="3" type="text" class="form-control" formControlName="generationResult"></textarea>
      </div>

    </form>
  </div>

  <div class="container" style="margin-top:40px; border: 2px groove;border-radius: 10px;border-color: lightgray;">
    <h2 style="background-color: #f44336; color: white; margin-top: 10px;text-align: center;height: 40px;padding-top: 5px;">Key Exchange</h2>
    <form [formGroup]="mixKeyForm" (ngSubmit)="mixKeys()">
      <div class="form-group">
        <label for="mixPrivateKey">Private key</label>
        <input type="text" class="form-control" formControlName="mixPrivateKey" required>
      </div>

      <div class="form-group">
        <label for="mixPublicKey">Public key</label>
        <input type="text" class="form-control" formControlName="mixPublicKey" required>
      </div>

      <button type="submit" class="btn btn-success">Mix key</button>

      <div class="form-group" style="margin-top:20px;margin-bottom: 20px;">
        <label for="mixKeyResult"><h4>Result</h4></label>
        <textarea rows="3" type="text" class="form-control" formControlName="mixKeyResult"></textarea>
      </div>

    </form>
  </div>

  <div class="container" style="margin-top:40px; border: 2px groove;border-radius: 10px;border-color: lightgray;">
    <h2 style="background-color: #f44336; color: white; margin-top: 10px;text-align: center;height: 40px;padding-top: 5px;">Encrypt Asymmetric</h2>
    <form [formGroup]="encryptAsymmetricForm" (ngSubmit)="encryptAsymmetric()">
      <div class="form-group">
        <label for="textToEncrypt">Text</label>
        <input type="text" class="form-control" formControlName="textToEncrypt" required>
      </div>

      <div class="form-group">
        <label for="publicKeyEncrypt">Public key</label>
        <input type="text" class="form-control" formControlName="publicKeyEncrypt" required>
      </div>

      <button type="submit" class="btn btn-success">Encrypt</button>

      <div class="form-group" style="margin-top:20px;margin-bottom: 20px;">
        <label for="encryptAsymmetricResult"><h4>Result</h4></label>
        <textarea rows="5" type="text" class="form-control" formControlName="encryptAsymmetricResult"></textarea>
      </div>

    </form>
  </div>

  <div class="container" style="margin-top:40px; border: 2px groove;border-radius: 10px;border-color: lightgray;">
    <h2 style="background-color: #f44336; color: white; margin-top: 10px;text-align: center;height: 40px;padding-top: 5px;">Decrypt Asymmetric</h2>
    <form [formGroup]="decryptAsymmetricForm" (ngSubmit)="decryptAsymmetric()">
      <div class="form-group">
        <label for="textToDecrypt">Encrypted text</label>
        <input type="text" class="form-control" formControlName="textToDecrypt" required>
      </div>

      <div class="form-group">
        <label for="privateKeyDecrypt">Private key</label>
        <input type="text" class="form-control" formControlName="privateKeyDecrypt" required>
      </div>

      <button type="submit" class="btn btn-success">Decrypt</button>

      <div class="form-group" style="margin-top:20px;margin-bottom: 20px;">
        <label for="decryptAsymmetricResult"><h4>Result</h4></label>
        <textarea rows="5" type="text" class="form-control" formControlName="decryptAsymmetricResult"></textarea>
      </div>

    </form>
  </div>

<div>
