name: Build Kotlin Package
description: Builds Kotlin package for Linux and Android platforms
runs:
  using: composite
  steps:
    - name: Download Version File
      uses: actions/download-artifact@v4
      with:
        name: config.txt

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Read Version and Set Gradle Property
      shell: bash
      id: setup
      run: |
        version=$(grep "version" config.txt | sed -E 's/version = "(.*)"/\1/')
        echo "version=$version" >> $GITHUB_OUTPUT

    - name: Download Native Libs
      uses: actions/download-artifact@v4
      with:
        pattern: kotlin-*
        merge-multiple: true
        path: ./wrappers/kotlin/lib/src/main/resources/

    - name:  Installing dependencies
      shell: bash
      run: |
        sudo apt-get update
        sudo apt-get install unzip openjdk-17-jdk-headless make gcc-multilib software-properties-common
        sudo apt-get install -y gcc-aarch64-linux-gnu

    - name: Install rust
      shell: bash
      run: |
        rustup update

        rustup target add x86_64-unknown-linux-gnu
        rustup target add i686-unknown-linux-gnu
        rustup target add aarch64-unknown-linux-gnu

        rustup target add aarch64-linux-android
        rustup target add armv7-linux-androideabi
        rustup target add i686-linux-android
        rustup target add x86_64-linux-android

    - name:  Installing Kotlin
      shell: bash
      run: sudo snap install --classic kotlin

    - name:  Installing ktlint
      shell: bash
      run: sudo snap install ktlint --edge --devmode

    - name: Configure Android NDK
      shell: bash
      run: |
        # Install NDK 27

        ANDROID_ROOT="/usr/local/lib/android"
        ANDROID_SDK_ROOT="${ANDROID_ROOT}/sdk"
        SDKMANAGER="${ANDROID_SDK_ROOT}/cmdline-tools/latest/bin/sdkmanager"
        echo "y" | sudo $SDKMANAGER "ndk;27.2.12479018" "build-tools;35.0.0" "platforms;android-34" "platform-tools"

        export ANDROID_NDK=$ANDROID_SDK_ROOT/ndk-bundle

        echo "
        [target.aarch64-linux-android]
        ar = \"$ANDROID_NDK/toolchains/llvm/prebuilt/linux-x86_64/bin/llvm-ar\"
        linker = \"$ANDROID_NDK/toolchains/llvm/prebuilt/linux-x86_64/bin/aarch64-linux-android21-clang\"
        [target.armv7-linux-androideabi]
        ar = \"$ANDROID_NDK/toolchains/llvm/prebuilt/linux-x86_64/bin/llvm-ar\"
        linker = \"$ANDROID_NDK/toolchains/llvm/prebuilt/linux-x86_64/bin/armv7a-linux-androideabi21-clang\"
        [target.i686-linux-android]
        ar = \"$ANDROID_NDK/toolchains/llvm/prebuilt/linux-x86_64/bin/llvm-ar\"
        linker = \"$ANDROID_NDK/toolchains/llvm/prebuilt/linux-x86_64/bin/i686-linux-android21-clang\"
        [target.x86_64-linux-android]
        ar = \"$ANDROID_NDK/toolchains/llvm/prebuilt/linux-x86_64/bin/llvm-ar\"
        linker = \"$ANDROID_NDK/toolchains/llvm/prebuilt/linux-x86_64/bin/x86_64-linux-android21-clang\"" >> ./.cargo/config.toml

    - name: Build Linux
      shell: bash
      working-directory: ./wrappers/kotlin
      run: |
        make linux

        chmod +x gradlew
        ./gradlew test
        ./gradlew build
        ./gradlew generatePomFileForMavenPublication

    - name: Build Android
      shell: bash
      working-directory: ./wrappers/kotlin-android
      run: |
        export ANDROID_ROOT="/usr/local/lib/android"
        export ANDROID_SDK_ROOT="${ANDROID_ROOT}/sdk"
        export ANDROID_NDK=$ANDROID_SDK_ROOT/ndk-bundle
        ln -sfn $ANDROID_SDK_ROOT/ndk/27.2.12479018 $ANDROID_NDK

        # Set environment variables for blake3 custom build script
        export CC_aarch64_linux_android="$ANDROID_NDK/toolchains/llvm/prebuilt/linux-x86_64/bin/aarch64-linux-android21-clang"
        export AR_aarch64_linux_android="$ANDROID_NDK/toolchains/llvm/prebuilt/linux-x86_64/bin/llvm-ar"
        export CC_armv7_linux_androideabi="$ANDROID_NDK/toolchains/llvm/prebuilt/linux-x86_64/bin/armv7a-linux-androideabi21-clang"
        export AR_armv7_linux_androideabi="$ANDROID_NDK/toolchains/llvm/prebuilt/linux-x86_64/bin/llvm-ar"
        export CC_i686_linux_android="$ANDROID_NDK/toolchains/llvm/prebuilt/linux-x86_64/bin/i686-linux-android21-clang"
        export AR_i686_linux_android="$ANDROID_NDK/toolchains/llvm/prebuilt/linux-x86_64/bin/llvm-ar"
        export CC_x86_64_linux_android="$ANDROID_NDK/toolchains/llvm/prebuilt/linux-x86_64/bin/x86_64-linux-android21-clang"
        export AR_x86_64_linux_android="$ANDROID_NDK/toolchains/llvm/prebuilt/linux-x86_64/bin/llvm-ar"

        make android

        chmod +x gradlew
        ./gradlew test
        ./gradlew build
        ./gradlew generatePomFileForMavenPublication

        mv ./lib/build/outputs/aar/lib-release.aar ./lib/build/outputs/aar/lib.aar

    - name: Set version in pom file
      shell: bash
      working-directory: ./wrappers/
      run: |
        sed -i '0,/<version>.*<\/version>/ s//<version>'"${{ steps.setup.outputs.version }}"'<\/version>/' 'kotlin/lib/build/publications/maven/pom-default.xml'
        sed -i '0,/<version>.*<\/version>/ s//<version>'"${{ steps.setup.outputs.version }}"'<\/version>/' 'kotlin-android/lib/build/publications/mavenAndroid/pom-default.xml'


    - name: Upload Kotlin JVM package
      uses: actions/upload-artifact@v4.3.6
      with:
        name: kotlin-jvm
        path: ./wrappers/kotlin/lib/build

    - name: Upload Kotlin Android package
      uses: actions/upload-artifact@v4.3.6
      with:
        name: kotlin-android
        path: ./wrappers/kotlin-android/lib/build

