[package]
name = "devolutions-crypto"
version = "0.6.0"
authors = ["Philippe Dugre <pdugre@devolutions.net>", "Mathieu Morrissette <mmorrissette@devolutions.net>"]
edition = "2018"
readme = "README.md"
license = "MIT/Apache-2.0"
homepage = "https://github.com/devolutions/devolutions-crypto"
repository = "https://github.com/devolutions/devolutions-crypto"
description = "An abstraction layer for the cryptography used by Devolutions"

[lib]
name="devolutions_crypto"
crate-type = ["cdylib", "rlib"]

[dependencies]
aead = "0.3.1"
aes = "0.4.0"
arbitrary = {version = "0.4.2", features = ["derive"], optional = true}
base64 = "0.12.2"
block-modes = "0.4.0"
byteorder="1.3.4"
chacha20poly1305 = "0.5.1"
cfg-if = "0.1.10"
hmac = "0.8.0"
num_enum = "0.5.0"
pbkdf2 = { version = "0.4.0", default-features = false }
scrypt = {version = "0.3.0", default-features = false}
sharks = "0.4.1"
sha2 = "0.9.0"
strum = "0.18.0"
strum_macros = "0.18.0"
subtle = "2.2.3"
x25519-dalek = "0.6.0"
zeroize = "1.1.0"
zeroize_derive = "1.0.0"

[dependencies.pyo3]
optional = true
version = "0.11.1"
features = ["extension-module"]

[target.'cfg(target_arch="wasm32")'.dependencies]
rand = { version = "0.7.3", features = ["wasm-bindgen"] }
wasm-bindgen = { version = "0.2.60", features = ["serde-serialize"] }
js-sys = "0.3.37"
rust-argon2 = { version = "0.8.2", default-features = false }

[target.'cfg(not(target_arch="wasm32"))'.dependencies]
rand = { version = "0.7.3" }
rust-argon2 = "0.8.1"

[target.'cfg(target_arch="wasm32")'.dev-dependencies]
wasm-bindgen-test = "0.3.10"

[features]
default = []
ffi = []
python = ["pyo3"]
fuzz = ["arbitrary", "sharks/fuzzing"]
